{% extends "base.html" %}

{% block content %}
  <h2 class="title">
    Create Request
  </h2>
  <div class="container" id="request-form">
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row row-cols-1 p-3">
        {{ form.title.label }}<br>
        {{ form.title(size=20) }}
      </div>
      <div class="row row-cols-1 px-3">
        {{ form.content.label }}<br>
        {{ form.content(rows=8, cols=30) }}
      </div>  
      <hr>
      <div class="row row-cols-1 px-3">
        {{ form.file.label }}<br>
        {{ form.file() }}
      </div>
      <hr>
      <div class="row row-cols-1 p-3">
        {{ form.submit(class="misc-btn") }}
      </div>
    </form>
  </div>
{% endblock %}
