{% extends "base.html" %}

{% block content %}
  <h2 class="title">
    Edit Request
  </h2>

  <div class="request">
    <form method="POST">
      <label for="title">Edit Title</label>
      <br>

      <textarea name="title"
        placeholder="Request title"
        rows="1"
        cols="25"
        >{{ request.form['title'] or req['title'] }}</textarea>
      <br><br>

      <label for="content">Edit Content</label>
      <br>
      <textarea name="content"
        placeholder="Post content"
        rows="15"
        cols="60"
        >{{ request.form['content'] or req['content'] }}</textarea>
      <br>
      
      <label for="image">Image</label>
      <br>
      <input type="file" name="image" accept="image/*">
      <br>
      
      <button type="submit">Submit</button>
    </form>
    <hr>
    <form action="{{ url_for('main.deleterequest', id=req.id) }}" method="POST">
      <input type="submit" value="Delete"
      onclick="return confirm('Are you sure you want to delete this request?')">
    </form>
  </div>
{% endblock %}
