{% extends "base.html" %}

{% block content %}
<h2 class="title">Edit Request</h2>

  <!--Forms here because cannot have a form within a form-->
  <form action="{{ url_for('main.deleterequest', id=req.id) }}" method="POST" id="delete-request">
    {{ form.hidden_tag() }}
  </form>
  <form action="{{ url_for('main.deleteimage', id=req.id) }}" method="POST" id="delete-image">
    {{ form.hidden_tag() }}
  </form>

  <div class="container" id="request-form">
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <!-- Title Editing Section -->
      <div class="form-group row-cols-1 p-3">
        <label for="title" class="form-label">Edit Title</label>
        <textarea name="title" id="title" class="form-control" placeholder="Request title" rows="1" cols="50">{{ request.form['title'] or req['title'] }}</textarea>
        {% if form.title.errors %}
        <div class="text-danger">{{ form.title.errors[0] }}</div>
      {% endif %}
      </div>

      <!-- Content Editing Section -->
      <div class="form-group row-cols-1 px-3">
        <label for="content" class="form-label">Edit Content</label>
        <textarea name="content" id="content" class="form-control" placeholder="Post content" rows="8" cols="30">{{ request.form['content'] or req['content'] }}</textarea>
        {% if form.content.errors %}
        <div class="text-danger">{{ form.content.errors[0] }}</div>
      {% endif %}
      </div>   


      <!-- Image Upload/Replace Section -->
      {% if req['image'] == None %}
        <div class="form-group row-cols-1 px-3">
          <label for="image" class="form-label">Upload an Image</label>
          <br>
          <input type="file" name="file" id="image" class="form-control-file" accept="image/*">
          {% if form.file.errors %}
          <div class="text-danger">{{ form.file.errors[0] }}</div>
        {% endif %}
        </div>
      {% else %}
        <div class="form-group row-cols-1 px-3">
          <div class="col-12">
            <img src="{{ url_for('static', filename='uploads/' + req['image']) }}" class="img-thumbnail" alt="Current Image" width="200" height="200">
            <br>
            <button class="misc-button" form="delete-image" onclick="return confirm('Are you sure you want to delete this request?')" type="submit">Delete Image</button>
            <label for="image">Or Upload a New Image - </label>
            <input type="file" name="file"  id="new-image" class="form-control-file" accept="image/*">
            {% if form.file.errors %}
            <div class="text-danger">{{ form.file.errors[0] }}</div>
          {% endif %}
          </div>
        </div>
      {% endif %}


      <!-- Submit and Delete Buttons -->
      <div class="row p-3">
        <div class="col-sm-10 text-right">
          <button class="misc-btn" type="submit">Submit</button>
        </div>
        <div class="col-sm-2 text-right">
          <button class="misc-btn" onclick="return confirm('Are you sure you want to delete this request?')" form="delete-request" type="submit">Delete</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
