{% extends "base.html" %}

{% block content %}
  <h2 class="title">
    Edit Request
  </h2>
  <!--Forms here because cannot have a form within a form-->
  <form action="{{ url_for('main.deleterequest', id=req.id) }}" method="POST" id="delete-request"></form>
  <form action="{{ url_for('main.deleteimage', id=req.id) }}" method="POST" id="delete-image"></form>

  <div class="container" id="request-form">
    <form method="POST" enctype="multipart/form-data">
      <div class="row row-cols-1 p-3">
        <label for="title">Edit Title</label>
        <textarea name="title"
          placeholder="Request title"
          rows="1"
          cols="50"
          >{{ request.form['title'] or req['title'] }}</textarea>
      </div>
      <div class="row row-cols-1 px-3">
        <label for="content">Edit Content</label>
        <textarea name="content"
          placeholder="Post content"
          rows="8"
          cols="30"
          >{{ request.form['content'] or req['content'] }}</textarea>
      </div>   
      <hr>
      {% if req['image'] == None %}
        <div class="row row-cols-1 px-3">
          <label for="image">Upload an Image</label>
          <br>
          <input type="file" name="file" accept="image/*">
        </div>
      {% else %}
        <div class="row row-cols-1 px-3">
          <div class="col-12">
            <img src="{{ url_for('static', filename='uploads/' + req['image']) }}" width="200px" height="200px">
            <br><br>
            <button class="misc-button" form="delete-image" onclick="return confirm('Are you sure you want to delete this request?')"
            type="submit">Delete Image</button>
            <label for="image">Or Upload a New Image - </label>
            <input type="file" name="file" accept="image/*">
          </div>
        </div>
        <hr>
      {% endif %}
      <div class="row p-3">
        <div class="col-sm-11 text-right">
          <button class="misc-btn" type="submit">Submit</button>
        </div>
    </form>
        <div class="col-sm-1 text-right">
          <button class="misc-btn" onclick="return confirm('Are you sure you want to delete this request?')"
          form="delete-request" type="submit">Delete</button>
        </div>
      </div>
  </div>
{% endblock %}
