{% extends "base.html" %}

{% block content %}
<div class="faq mt-5">
    <h2 id="subtitle" class="text-center">Frequently Asked Questions</h2>
    <br>
    <div class="faq-container mt-4" data-bs-spy="scroll" data-bs-target=".list-group" data-bs-offset="0" tabindex="0">
        <h5 id="q1" class="faq-question pt-3 text-center">Q. What is Canine Care about?</h5>
        <div class="faq-answer"><strong>A.</strong> Canine Care is an online service where dog owners can request local pet sitters to care for their furry friend(s). Pet sitters can also sign up to offer their services to requests made by dog owners.</div>
        <h5 id="q2" class="faq-question pt-3 text-center">Q. What types of care requests can I post on Canine Care?</h5>
        <div class="faq-answer"><strong>A.</strong> Dog owners can post a variety of care requests on Canine Care, including but not limited to dog walking, feeding, overnight sitting, and extended care during holidays. Each request can be tailored to your pet’s specific needs, such as administering medications or special dietary requirements.</div>
        <h5 id="q3" class="faq-question pt-3 text-center">Q. How do I find a pet sitter on Canine Care?</h5>
        <div class="faq-answer"><strong>A.</strong> After posting your request on the request board, sitters who are interested and meet your requirements can respond. You can also browse profiles of pet sitters in your area and directly contact them through our platform.</div>
        <h5 id="q4" class="faq-question pt-3 text-center">Q. Can I use Canine Care for pets other than dogs?</h5>
        <div class="faq-answer"><strong>A.</strong> Canine Care arose from our love for dogs. However, many sitters may have experience and willingness to care for other types of pets. Sitters may agree to accept requests for other pets if detailed in a request.</div>
        <h5 id="q5" class="faq-question pt-3 text-center">Q. Can I meet a pet sitter before confirming a booking?</h5>
        <div class="faq-answer"><strong>A.</strong> Absolutely. We recommend arranging a meet-and-greet between you, your dog, and the sitter to ensure compatibility and comfort before confirming any bookings. This meeting can be scheduled through our platform.</div>
        <h5 id="q6" class="faq-question pt-3 text-center">Q. What should I include in my pet care request?</h5>
        <div class="faq-answer"><strong>A.</strong> Be as detailed as possible in your request. Include the type of service needed (e.g., walking, feeding, pet sitting, house + pet sitting), specific dates and times, any special care instructions, and information about your dog’s behavior and health conditions. The more information you provide, the better care your dog will receive.</div>
    </div>
</div>

<script src="static/styles/global.js"></script>

{% endblock %}
