{% extends "base.html" %}

{% block content %}
<div class="faq mt-5">
    <h2 id="subtitle">Frequently Asked Questions</h2>
    <br>
    <div class="list-group">
        <a href="#q1" class="list-group-item list-group-item-action" id="subtitle">What is Canine Care about?</a>
        <a href="#q2" class="list-group-item list-group-item-action" id="subtitle">What types of care requests can I post on Canine Care?</a>
        <a href="#q3" class="list-group-item list-group-item-action" id="subtitle">How do I find a pet sitter on Canine Care?</a>
        <a href="#q4" class="list-group-item list-group-item-action" id="subtitle">Can I use Canine Care for pets other than dogs</a>
        <a href="#q5" class="list-group-item list-group-item-action" id="subtitle">Can I meet a pet sitter before confirming a booking?</a>
        <a href="#q6" class="list-group-item list-group-item-action" id="subtitle">What should I include in my pet care
            request?</a>

    </div>
    <br>
    <div class="mt-4" data-bs-spy="scroll" data-bs-target=".list-group" data-bs-offset="0" tabindex="0">
        <h5 id="q1" class="pt-3">What is Canine Care about?</h5>
        <p>Canine Care is an online service where dog owners can request local pet sitters to care for their furry friend(s).
            Pet sitters can also sign up to offer their services to requests made by dog owners.
        </p>
        <br>
        <h5 id="q2" class="pt-3">What types of care requests can I post on Canine Care?</h5>
        <p>Dog owners can post a variety of care requests on Canine Care, including but not limited to dog walking, feeding,
            overnight sitting, and extended care during holidays. Each request can be tailored to your pet’s specific needs,
            such as administering medications or special dietary requirements. </p>
            <br>
        <h5 id="q3" class="pt-3">How do I find a pet sitter on Canine Care?</h5>
        <p>After posting your request on the request board, sitters who are interested and meet your requirements can respond. You can also browse profiles of pet sitters in your area and directly contact them through our platform. </p>
        <br>
        <h5 id="q4" class="pt-3">Can I use Canine Care for pets other than dogs</h5>
        <p>Canine Care arose from our love for dogs. However, many sitters may have experience and willingness to care for other
            types of pets. Sitters may agree to accept requests for other pets if detailed in a request.</p>
            <br>
        <h5 id="q5" class="pt-3">Can I meet a pet sitter before confirming a booking?</h5>
        <p>Absolutely. We recommend arranging a meet-and-greet between you, your dog, and the sitter to ensure compatibility and comfort before confirming any bookings. This meeting can be scheduled through our platform.</p>
        <br>
        <h5 id="q6" class="pt-3">What should I include in my pet care request?</h5>
        <p>Be as detailed as possible in your request. Include the type of service needed (e.g., walking, feeding, pet sitting, house + pet sitting), specific dates and times, any special care instructions, and information about your dog’s behavior and health conditions. The more information you provide, the better care your dog will receive. You should also specify your dog's</p>

        <p></p>
    </div>
</div>

{% endblock %}