{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome to Canine Care!
</h1>
<p class="info-text">
  We run a service where dog owners can post requests for dogsitting and other dog care responsibilities.
  If you are a petsitter professional, you can respond to those requests.
  
  <div class="nav-links-container">
    <a class="btn1" href="{{ url_for('main.createrequest') }}">Request a Sitter</a>
    <a class="btn2" href="{{ url_for('main.viewrequests') }}">View Requests</a>
</div>
</p>
{% endblock %}
