{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<h3 class ="title">
  Your Requests
</h3>
{% for req in reqs %}
  {% if req.poster == name %}
    <div class='request'>
      <h4>{{ req.title }}</h4>
      <p>{{ req.content }}</p>
      {% if req['image'] != None %}
        <img src="{{ url_for('static', filename='uploads/' + req['image']) }}" width="200px" height="200px">
        <br>
      {% endif %}
      <p>Posted by: {{ req.poster }}</p>
      <p>{{ req.time_created }}</p>
      <a href="{{ url_for('main.editrequest', id=req.id) }}">Edit</a>
    </div>
  {% endif %}
{% endfor %}
{% endblock %}