{% extends "base.html" %}

{% block content %}
<div class="login-signup">
  <div class="column is-4 is-offset-4">
    <h3 id="subtitle">Sign Up</h3>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="notification is-danger">
        {{ messages[0] }}
      </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('auth.signup') }}">
      {{ form.hidden_tag() }}
      <div class="field">
        <div class="control">
          {{ form.email(class="input is-large", placeholder="Your Email", autofocus="") }}
        </div>
      </div>
      <div class="field">
        <div class="control">
          {{ form.username(class="input is-large", placeholder="Your Username") }}
        </div>
      </div>
      <div class="field">
        <div class="control">
          {{ form.password(class="input is-large", placeholder="Your Password") }}
        </div>
      </div>
      <div class="field">
        <div class="control">
          {{ form.confirm_password(class="input is-large", placeholder="Confirm Password") }}
        </div>
      </div>
      <div class="field">
        <div class="control">
          {% if form.email.errors %}
            <p class="help is-danger">{{ form.email.errors[0] }}</p>
          {% endif %}
          {% if form.username.errors %}
            <p class="help is-danger">{{ form.username.errors[0] }}</p>
          {% endif %}
          {% if form.password.errors %}
            <p class="help is-danger">{{ form.password.errors[0] }}</p>
          {% endif %}
          {% if form.confirm_password.errors %}
            <p class="help is-danger">{{ form.confirm_password.errors[0] }}</p>
          {% endif %}
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          {{ form.submit(class="button is-block is-info is-large is-fullwidth") }}
        </div>
      </div>
    </form>
    <div class="password-requirements">Password requirements:
      <ul>
        <li>At least 8 characters</li>
        <li>At least one uppercase letter</li>
        <li>At least one lowercase letter</li>
        <li>At least one number</li>
        <li>At least one special character</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
