{% extends "base.html" %}

{% block content %}
<div class="login-signup">
  <div class="column is-4 is-offset-4">
    <h3 id="subtitle">Sign Up</h3>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
      </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('auth.signup') }}">
      {{ form.hidden_tag() }}
      <div class="field">
        <div class="control">
          {{ form.username(class="input is-large", placeholder="Name", autofocus="") }}
        </div>
      </div>

      <div class="field">
        <div class="control">
          {{ form.email(class="input is-large", placeholder="Email", autofocus="") }}
        </div>
      </div>

      <div class="field">
        <div class="control">
          {{ form.password(class="input is-large", placeholder="Password") }}
        </div>
      </div>

      <div class="field">
        <div class="control">
          {{ form.confirm_password(class="input is-large", placeholder="Confirm Password") }}
        </div>
      </div>

      <br>
      {{ form.submit(class="button is-block is-info is-large is-fullwidth") }}
    </form>
  </div>
</div>
{% endblock %}
