{% extends "base.html" %}

{% block content %}
  <h2 class="title">
    View Requests
  </h2>

  <form action="{{ url_for('main.sortrequests', sorting_method='newest') }}" method="POST">
    <input type="submit" value="Sort by Newest" onclick>
  </form>
  <form action="{{ url_for('main.sortrequests', sorting_method='oldest') }}" method="POST">
    <input type="submit" value="Sort by Oldest" onclick>
  </form>

  <form action="{{ url_for('main.viewrequests') }}" id="search-requests" method="POST">
    <input type="text" name="search"
    placeholder="Search requests..."
    value="{{ request.form['keywords'] }}">
    <button type="submit">Search</button>
  </form>

  <div class="container sm">
    <div class="row">
    {% for req in reqs %}
        <div class="col">
        <div class='request'>
          <h4>{{ req.title }}</h4>
          <p>{{ req.content }}</p>
          {% if req['image'] != None %}
            <img src="{{ url_for('static', filename='uploads/' + req['image']) }}" width="200px" height="200px">
            <br><br>
          {% endif %}
          <p>Posted by: {{ req.poster }}</p>
          <p>{{ req.time_created }}</p>
          {% if req.poster == name %}
              <a href="{{ url_for('main.editrequest', id=req.id) }}">Edit</a>
          {% endif %}
           <!-- Comment form -->
          <form action="{{ url_for('main.add_comment', req_id=req.id) }}" method="POST">
            <textarea name="comment_content" placeholder="Respond to the request"></textarea>
            <button type="submit">Respond</button>
          </form>

          <!-- Display comments -->
          <h5>Comments:</h5>
          {% for comment in req.comments %}
            <hr>
            <b>{{ comment.poster }} says:</b>
            <p>{{ comment.content }}</p>
            <p>{{ comment.time_created }}</p>
            {% if comment.poster == name %}
              <form action="{{ url_for('main.delete_comment', id=comment.id) }}" method="POST">
                <input type="submit" value="Delete"
                onclick="return confirm('Are you sure you want to delete this comment?')">
              </form>
            {% endif %}
          {% endfor %}
          </div>
        </div>
  {% endfor %}
  </div>
  </div>
{% endblock %}
