{% extends 'requestsitter.html' %}

{% block title %} Make a New Request {% endblock %}

{% block content %}
  <form id="request-form" method="POST">
    <label for="title">Title</label>
    <br>
    <input type="text" name="title"
      placeholder="Request title"
      value="{{ request.form['title'] }}"></input>
    <br>

    <label for="content">Request Content</label>
    <br>
    <textarea name="content"
      placeholder="Request content"
      rows="15"
      cols="60"
      >{{ request.form['content'] }}</textarea>
    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}