.navbar.navbar-expand-sm {
  background-color: var(--background-colour);
}
.navbar.navbar-expand-sm .navbar-brand {
  font-family: "Vergilia";
  font-size: 1.5em;
  color: var(--accent-colour);
}
.navbar.navbar-expand-sm .nav-link {
  color: black;
}
.navbar.navbar-expand-sm .nav-link:hover {
  color: grey;
}
.navbar.navbar-expand-sm .navbar-toggler-icon {
  background-color: white;
}
