.navbar.navbar-expand-sm {
  background-color: #F3D0B7;
}
.navbar.navbar-expand-sm .navbar-brand {
  font-family: "Vergilia";
  font-size: 1.5em;
  color: black;
}
.navbar.navbar-expand-sm .nav-link {
  color: black;
  font-family: 'Vergilia', sans-serif; /* Changed the font to Vergilia*/
}
.navbar.navbar-expand-sm .nav-link:hover {
  color: grey;
}
.navbar.navbar-expand-sm .navbar-toggler-icon {
  background-color: white;
}
.navbar-nav {
  margin-left: auto; 
}
.navbar-nav .nav-link {
  margin-left: 16px;
}
